<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About Me</a></li>
					<li><a href="/background">Background and Experience</a></li>
					<li><a href="/honors/">Awards and Honors</a></li>
					<li><a href="/music/">Music</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
					<li><a href="https://www.linkedin.com/in/jefflguo/">LinkedIn</a></li>
	        		<li><a href="mailto:jlguo2@wisc.edu">UW Email</a></li>
					<li><a href="mailto:guo843@purdue.edu">Purdue Email</a></li>
					<li>Jeffery Lian Guo, updated 2024/04/22</a></li>
				</ul>
			</footer>
		</body>
	</html>
